@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color:#dedede;
    background-image: linear-gradient(315deg, #6098ff 0%, #61ffbd 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    color: #222;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

input:focus {
    outline: none;
    color: #000;
}

.card {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #dedede 0%, #ffffff 100%);
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
    max-width: 800px;
}

.avatar {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin: 2.5rem 4rem 0rem 0rem;
}

#repos {
    padding: 1em 0em;
}

.repo {
    background-color: #444;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}